// 按钮颜色
$--button-color: #85aad0;
$--button-bg: #043252;
$--button-color-primary: #a0bcca;
$--button-color-danger: #efabc5;
$--button-bg-primary: #04465e;
$--button-bg-danger: #6a0b5d;

// panel背景颜色
$--panel-bg-color-primary: #042536;
$--panel-bg-color-info: #5c6b75;
$--panel-bg-color-success: #06564d;
$--panel-bg-color-error: #441f50;
$--panel-bg-color-warning: #462705;

// 字体颜色
$--text-color-primary: #0fa1d7;
$--text-color-info: #87b7be;
$--text-color-success: #29e8a5;
$--text-color-error: #ff7df4;
$--text-color-warning: #cb8839;
$--text-color-highlight: lime;



// 玩家宽高长度
$--player-item-size: .6rem;
$--player-item-border-size: .05rem;
// 游戏顺序宽高
$--clockwise-item-size: 6rem;
// 游戏抽卡次数背景宽高
$--degree-item-size: 0.8rem;
// 游戏当前玩家手牌高度
$--hand-card-item-height: 1.683rem;
$--hand-card-item-width: 1.102rem;
// 游戏手牌与卡组之间比例
$--ratio: 0.8;


