* {
  padding: 0; margin: 0;
}
html,body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 100px;
}
body {
  font-size: .2rem;
}
a {
  color: inherit;
  cursor: pointer;
  &:hover {
    color: #0a84ff;
  }
}

.flex {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-evenly {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.flex-between {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@font-face{
  font-family: "PingFang SC";
  src: url("~@/assets/font-pingfangsc/PingFang Regular.ttf");
}

img[lazy="loading"]{
  display:block;
  width:50px !important;
  height:50px !important;
  margin:0 auto;
}

.fixed {
  position: fixed; left: 0; top: 0;
}

// 滚动条样式
::-webkit-scrollbar {
  width: .1rem;
}
::-webkit-scrollbar-thumb {
  border-radius: .1rem;
  //-webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.7);
  background: rgba(255,255,255,0.3);
}
::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.1);
  border-radius: 0;
  background: rgba(0,0,0,0.1);

}


/*宽度小于768  max-width:768px:说明当前屏幕的最大值为768px*/
@media screen and (max-width: 768px) and (min-width: 0px){
  /*媒体查询是用来设置样式的 当实际的屏幕大小满足条件时就执行样式 */
  html {
    font-size: 70px;
  }
}

/* w  768~992    blue */
@media screen and (min-width: 768px) and (max-width: 992px){
  html {
    font-size: 80px;
  }
}
/*  w  992~1200  pink*/
@media screen and (min-width: 992px) and (max-width: 1200px){
  html {
    font-size: 90px;
  }
}
/*W  >1200:     purple*/
@media screen and (min-width: 1200px){
  html {
    font-size: 100px;
  }
}
@import "elem";     // 自定义element ui样式
@import "viewer";



